<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AnaOkulu.Properties.Settings.AnaOkuluConnectionString"
            connectionString="Data Source=DESKTOP-M5G8EPH;Initial Catalog=AnaOkulu;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="AnaOkulu.Properties.Settings.AnaOkuluConnectionString1"
            connectionString="Data Source=DESKTOP-DI43OBM\SQLEXPRESS;Initial Catalog=AnaOkulu;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>